<launch>
    <!--
        ME571 Lab 3 Task 3
        Start the OpenManipulator controller bridge, MoveIt, and RViz.
    -->
    <param name="/move_group/trajectory_execution/allowed_execution_duration_scaling"
           value="5.0" />

    <param name="/move_group/trajectory_execution/allowed_goal_duration_margin"
           value="3.0" />

    <param name="/move_group/trajectory_execution/allowed_start_tolerance"
           value="0.05" />
    <!--
        Provides ros_control-related hardware communication,
        joint-state feedback, and arm trajectory-controller action topics.
    -->
    <include file="$(find turtlebot3_manipulation_bringup)/launch/turtlebot3_manipulation_bringup.launch" />

    <!-- Start the MoveIt planning server. -->
    <include file="$(find turtlebot3_manipulation_moveit_config)/launch/move_group.launch" />

    <!-- Start RViz with the MoveIt MotionPlanning interface. -->
    <include file="$(find turtlebot3_manipulation_moveit_config)/launch/moveit_rviz.launch" />
</launch>